.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  font-size: 14px;
  line-height: 1.5;
}
